In [ ]:
# syntax 
def function_name(argument/parameter):
    body
    return value

In [4]:
import py1

In [ ]:
# function_name(arguments)  # formal argument

In [11]:
def add(a,b):
    c = a+b
    print(c)

In [12]:
x = int(input('enter the value 1...'))
y = int(input('enter the value 2...'))              # no arguments and no returns value
add(x,y)

enter the value 1...67
enter the value 2...78
145

In [13]:
def add(a,b):
    c =40+30
    print('c')

In [14]:
b = int(input('enter num1..'))
f = int(input('enter num2...'))
add(b,f)

enter num1..90
enter num2...90
c

In [15]:
t = add (100,200)

c

In [16]:
type(t)

NoneType

In [17]:
def add(a,b):
    c = a+b
    return c

In [18]:
t = add(23,45)

In [19]:
t

68

In [ ]:
def even_odd (num):
    if num%2==0:
        return True
    else:
        return False
def take_input():
    x = int(input('enter the number..'))
    return x
def main():
    inp = take_input()
    status = even_odd(inp)
    if status:
        print("given number is even")
    else:
        print("given number is odd")
    print("main successufully executed")

In [ ]:
main()

In [ ]:
def add():
    x = 90
    y = 90
    c = x+y
    return 'c'

In [ ]:
c

In [ ]:
z

In [ ]:
def add(a,b):
    c = a+b
    print (c)

In [ ]:
x = int(input('enter no'))
y = int(input('enter no'))
add(x,y)

In [ ]:
def add():
    a=90
    b=90
    c=a+b
    return c

In [ ]:
text == c

In [ ]:
def add(x,y):
    c = x +y
    return c

In [ ]:
add(80,80)

In [ ]:
text = add(80,80)

In [ ]:
text

In [ ]:
def add():
    x = 30
    y = 50
    return x+y

In [ ]:
add()

In [ ]:
add()

In [ ]:
# types of argument
=====================
* positional argumrnts
* default arguments
* variable length arguments
* keybord arguments
* variable length keyboard arguments

In [ ]:
#  positional arguments

In [ ]:
def employ_details(emp_name,emp_sal,emp_mail_id,emp_position,emp_id):
    print("emp_name:",emp_name)
    print("emp_sal:",emp_sal)
    print("emp_mail_id:",emp_mail_id)
    print("emp_position:",emp_position)
    print("emp_id:",emp_id)

In [ ]:
employ_details('vishal',2000000,'vishal@gmail.com','DE',9999)

In [ ]:
employ_details()

In [28]:
def details(name,age,gender,pan,aadhar,roll='no roll'):
    print("name:",name)
    print("age:",age)
    print("gender:",gender)                                  # no of arguments == actual arguments
    print("pan:",pan)
    print("aadhar:",aadhar)
    print("roll:", roll)

In [29]:
details('vishal',27,'male','ixrpk2537',384758595757,90)

name: vishal
age: 27
gender: male
pan: ixrpk2537
aadhar: 384758595757
roll: 90

In [30]:
def bank_statement(st):
    if st =='31_march_2020':
        return True
    else:
        return False
def _input():
        st_d = input("enter the start date for bank statement ")
        end_d = input("enter end date of bank statement")
        return end_d
        return st_d
def main():
    st = _input()
    status = bank_statement(st)
    if status:
        print("process successful")
    else:
        print("faild")

In [31]:
main()

enter the start date for bank statement 31_march_2020
enter end date of bank statement31_april_2020
faild

In [ ]:
st

In [3]:
def my_function(country = 'us'):
     print("i am from "+ country)
my_function('india')
my_function('england')
my_function('norway')
my_function()

i am from india
i am from england
i am from norway
i am from us

In [4]:
my_function()

i am from us

In [5]:
def my_function(country = 'us'):
      print("i am from "+ country)

In [6]:
my_function()

i am from us

In [7]:
def my_function(first_name,last_name):
    print("first_name:",first_name)
    print("last_name:", last_name)

In [8]:
my_function('sandip','ghumare')

first_name: sandip
last_name: ghumare

In [11]:
def odd_even(num):
    if num%2!=0:
        return True
    else:
        return False
def take_input():
    x = int(input("enter the number..::"))
    return x
def main():
    inp = take_input()
    status = odd_even(inp)
    if status:
        print("given number is odd...")
    else:
        print("given number is even...")
    print("procced...")

In [12]:
main()

enter the number..::80
given number is even...
procced...

In [ ]:
def odd_even(num):
    if num%2!=0:
        return True
    else:
        return False
        
def take_input():
    x = int(input("enter the number..::"))
    return x
def main():
    inp = take_input()
    status = odd_even(inp)
    if status:
        print("given number is odd...")
    else:
        print("given number is even...")
    print("procced...")

In [ ]:
main()

In [ ]:
main()

In [8]:
cred_ = ("admin","admin@123")
def db_connection(username,password):
    if username == "admin":
        if password == "admin@123":
            return "success"
        else:
            return "failed"
        
def db_connection_closed():
    print("db_connection_closed")
    
def main():
    username = input("enter the username:")
    password = input("enter the passord:")
    status = db_connection(username,password)
    if status == "success":
        print("db_connection successfuly")
        print("db_transfer of data")
        db_connection_closed()
    else:
        print("please check cred_")
    print("program excecuted")

In [9]:
main()

enter the username:admin
enter the passord:admin@123
db_connection successfuly
db_transfer of data
db_connection_closed
program excecuted

In [20]:


def _info(name_,sirname):
    if name_ == "vishal":
        if sirname == "kalkumbe":
            return "true"
        else:
            return 'false'
def correct():
    print("program successed")
def wrong():
    print("its wrong name...")
def main():
    name_ =input("enter the name..")
    sirname = input("enter the sirname....")
    status = _info(name_,sirname)
    if status == 'true':
        print("correct name")
        correct()
    else:
        print("failed")
        wrong()

In [21]:
main()

enter the name..vishal
enter the sirname....kalkumbe
correct name
program successed

In [ ]:
#  def str_concet(str1,str2):
    # return str1+str2

In [9]:
def take_fulll_name(x):
    first_name,last_name = split_username_password(x)
    return first_name,last_name

def split_username_password(z):
    f_name = z.split(" ")[0]
    l_name = z.split(" ")[1]
    return f_name,l_name
def main():
    name = input("enter the name:..")
    f,l = take_fulll_name(name)
    print("first name:..",f)
    print("last name:...",l)
    print("end")

In [10]:
main()

enter the name:..vishal kalkumbe
first name:.. vishal
last name:... kalkumbe
end

In [ ]:
# varibale iength argument for mathematical calculation

In [1]:
def add_cal(*args):
    total = 0
    for i in args:
        total = total+i
    print(total)

In [2]:
add_cal(20,20)

40

In [3]:
add_cal(40,40,[40,40,40])

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [9]:
def test(*args):
    print(args)

In [10]:
   test(30,30,30,[30,30,30],59,50)                # variable length argument    # tuple form

(30, 30, 30, [30, 30, 30], 59, 50)

In [15]:
def t(*args):                              
    
    print(args[4])

In [16]:
t(40,58,574,38,28)

28

In [ ]:
# variable lenth keyword argument   (**args)        # dict form

In [33]:
def s(**args):
    print(args)

In [34]:
s(name='vishal')

{'name': 'vishal'}

In [35]:
def _details(**kwargs):
    print(kwargs)

In [36]:
_details(name = "vishal",sirname="kalkumbe",roll_no=999)  # variable length keyword argument in dict form

{'name': 'vishal', 'sirname': 'kalkumbe', 'roll_no': 999}

In [ ]:
# keyword argument

In [37]:
def per_details(name,age,city,gender,college):
    print('name:',name)
    print("age:",age)
    print("city:",city)
    print("gender:",gender)
    print("college:",college)

In [38]:
per_details('vishal',27,"jalna",'male',"mss")

name: vishal
age: 27
city: jalna
gender: male
college: mss

In [41]:
per_details(gender='male',city='jalna',name='vishal',age=27,college='mss')     # in positional argument no need to remember sequence

name: vishal
age: 27
city: jalna
gender: male
college: mss

In [51]:
def details(*test):
    print(test)
    print("name:",test[0])
    print("pan:",test[1])
    print("addhar:",test[2])
    print("sal:",test[3])
    print("post:",test[4])

In [49]:
details("vishal","fdrtsdf34",47586974537478,300000,"ml_engineer")

('vishal', 'fdrtsdf34', 47586974537478, 300000, 'ml_engineer')
name: vishal
pan: fdrtsdf34
addhar: 47586974537478
sal: 300000
post: ml_engineer

In [54]:
details(name='vishal',sal=5000000,post="mL_engineer",pan="ixrrpk566",addhar=3476845738)

TypeError: details() got an unexpected keyword argument 'name'

In [72]:
def mobile_details(company,name,price=70000,colour="black",*args):
    return company,name,price,colour,args

In [76]:
company,name,price,colour,args = mobile_details('samsung','galaxy',40000,'black',2999,4999,5999,999)

In [77]:
company

'samsung'

In [78]:
price

40000

In [79]:
colour

'black'

In [80]:
args

(2999, 4999, 5999, 999)

In [81]:
name

'galaxy'

In [23]:
def per_details(name,adhar,pan,mo_no,post,marks ,email = 'no email',*args,**other):
    print("name:",name)
    print("adhar:",adhar)
    print("pan:",pan)
    print("mo_no:",mo_no)
    print("post:",post)
    print("marks:",marks)
    print("email:",email)
    print("args:",args)
    print("other:",other)

In [24]:
per_details('vishal',28394756748,'hfurji56778',90867576453,'ml',34,'vishal@gmail.com','vidhsdk57767','done',vihsal = 'jfju')

name: vishal
adhar: 28394756748
pan: hfurji56778
mo_no: 90867576453
post: ml
marks: 34
email: vishal@gmail.com
args: ('vidhsdk57767', 'done')
other: {'vihsal': 'jfju'}

In [25]:
def per_details(name,adhar,pan,mo_no,post,marks ,email = 'no email',*args,**other):
    print("name:",name)
    print("adhar:",adhar)
    print("pan:",pan)
    print("mo_no:",mo_no)
    print("post:",post)
    print("marks:",marks)
    print("email:",email)
    print("args:",args)
    print("other:",other)

In [26]:
per_details('vishal',123456789098,'ixrpk4567',9822158902,'ml',2344,'no_email',2334,456,678,id_ = 'jfjfj',roll = 990)

name: vishal
adhar: 123456789098
pan: ixrpk4567
mo_no: 9822158902
post: ml
marks: 2344
email: no_email
args: (2334, 456, 678)
other: {'id_': 'jfjfj', 'roll': 990}

In [27]:
def test(*args,**kwargs):
    print(args,kwargs)

In [137]:
test(90,90,90,90,id = "visj@yuu",password = "vishal8988")

(90, 90, 90, 90) {'id': 'visj@yuu', 'password': 'vishal8988'}

In [174]:
a = 20
def test():
    a = 400
    print(test)

In [175]:
a

20

In [178]:
py_ = 'vishal'
def vi_():
    py_ = 'nishnaat'
    print(vi_)

In [183]:
py_

'vishal'

In [208]:
course = 'python'
def m1():
    course = 'java'
    print("course:",course)
def m2():
    
    course = 'hadoop'
def m3():
    print("value of course:",course)
def m4():
    print("value of course:",course)

In [209]:
m1()

course: java

In [210]:
m2()

In [211]:
m3()

value of course: python

In [212]:
m4()

value of course: python

In [213]:
course

'python'

In [214]:
course = 'python'
def m1():
    course = 'java'
    print("course:",course)
def m2():
    global course
    course = 'hadoop'
def m3():
    print("value of course:",course)
def m4():
    print("value of course:",course)

In [215]:
m1()

course: java

In [216]:
m2()

In [217]:
m3()

value of course: hadoop

In [218]:
m4()

value of course: hadoop

In [219]:
course

'hadoop'

In [222]:
def t1():
    print("username:",username)
    print("password:",password)
def main():
    global username,password
    username = "vishal898"
    password = "cishal8988"
    print("rest of code")

In [223]:
main()

rest of code

In [224]:
username

'vishal898'

In [226]:
password

'cishal8988'

In [236]:
t1()

username: vishal898
password: cishal8988

In [231]:
def r1():
    print("j:",j)
    print("f:",f)
def main():
    global j,f
    j = 'k'
    f = 'l'
    print("code")

In [232]:
main()

code

In [233]:
j

'k'

In [234]:
f

'l'

In [235]:
r1()

j: k
f: l

In [21]:
def my_function(first_name,last_name):
    print("first name",first_name)
    print("last name",last_name)

In [22]:
my_function("vishal","kalkumbe")

first name vishal
last name kalkumbe

In [55]:
def full_name(first_name,last_name):
    if first_name == 'vishal':
        if last_name == 'kalkumbe':
            return 'True'
        else:
            return 'False'
def correct():
    print('correct name')
def wrong():
    print("wrong name")
def main():
    first_name = input('enter the first_name:---')
    last_name = input("enter the last_name:----")
    status = full_name(first_name,last_name)
    if status == 'True':
         print("program proceed")
         correct()
    else: 
         print("wrong name")
         wrong()

In [56]:
main()

enter the first_name:---vishal
enter the last_name:----kalkumbe
program proceed
correct name

In [18]:
def names(vishal,vitthal,avi,kailas:'no post',shard,gorakh):
    print('vishal:',vishal)
    print('vitthal:',vitthal)
    print('avi:',avi)
    print('kailas:',kailas)
    print('shard:',shard)
    print('gorakh:',gorakh)

In [22]:
names('ml','afo','po','no post','mr','farmer')

vishal: ml
vitthal: afo
avi: po
kailas: no post
shard: mr
gorakh: farmer

In [2]:
def add(a,b):
    c =a +b 
    print(c)

In [5]:
x = int(input("enter the value.."))
y = int(input("enter the value..."))
add(x,y)

enter the value..55
enter the value...55
110

In [6]:
def multi(a,b):
    c = a*b
    print(c)

In [7]:
x = int(input('enter the value...'))
y = int(input('enter the value...'))
multi(x,y)

enter the value...90
enter the value...90
8100

In [1]:
def my_fun():       # create function and calling function
    print("my name is vishal")
my_fun()

my name is vishal

In [7]:
def my_func(l_name,f_name):                  # information can be passed into function as argument
    print(l_name +"  "+ f_name)      # we can add as many argument as we want , just we have seperate a comma.
my_func("kalkumbe","vishal")
my_func("patil","jivan")
my_func("sawant"," aakash")

kalkumbe  vishal
patil  jivan
sawant   aakash

In [8]:
def add():                                  # no argument no returns value
    x = int(input("enter the value :  "))
    y = int(input("enter the value :  "))
    print(x+y)
add()

enter the value :  55
enter the value :  66
121

In [9]:
def add(x,y):      # with argument no returns values
    print(x+y)
add(50,50)

100

In [10]:
def add(x,y):      # with argument and with returns values
    z = x+y
    print("addition of  x and y is",z)
add(30,30)

addition of  x and y is 60

In [12]:
def add():                                      # no argument with returns values 
    x = int(input("enter the first name :  "))

    y = int(input("enter the second value : "))
    
    z = x+y
    print("addition of x and y is ",z)
    
add()

enter the first name :  40
enter the second value : 90
addition of x and y is  130

In [24]:
def person(name,age,sal ,gender):
    print('name:', name)
    print("age:",age)
    print("sal:" ,sal)
    print("gender:",gender)

In [25]:
person("vishal", 34,50000,"male")

name: vishal
age: 34
sal: 50000
gender: male

In [40]:
def fun(country = "india"):
    print("i am from  ",country)
    print("country:",country)
    country = "us"
    print("im from ",country)

In [41]:
fun()

i am from   india
country: india
im from  us